.wp-block-fb-button {
	.mouse {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 5;
	}
}
.fb-button-container .pluginFontVerdana div{
	display: flex;
	justify-content: center;
  }

 .pluginFontHelvetica div{
    display: flex;
    justify-content: center;
}
  
  ._li._li._li {
    overflow: initial;
    display: flex;
    justify-content: center;}