$primaryColor: #4527a4;

.wcpcLoader {
    min-height: 30px;
    position: relative;

    &.showLoader {
        .wp-block-b-blocks-recent-products {
            opacity: 0.3;
            z-index: 0;
        }
    }
}

.wcpcLoading {
    color: $primaryColor !important;
    font-size: 21px !important;
    font-weight: bold !important;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;

    .components-spinner {
        margin-top: 0;
        color: $primaryColor;
    }
}
